@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  color: #000;
  font-family: "";
  font-size: 1rem;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #45525B;
  background-color: #FAFAFA;
  font-family: "";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

.title {
  font-size: 18px;
  line-height: 24px;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 62.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.header {
  min-height: 40px;
  padding: 20px 0;
  background-color: #fff;
}
.header__container {
  max-width: 75rem;
  min-height: inherit;
}
.header__navigation {
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  position: relative;
  width: 78px;
  height: 40px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 29.99875em) {
  .header__menu {
    flex-direction: column;
  }
}
.header__item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.35s ease;
  text-align: center;
}
.header__item:hover, .header__item:focus {
  color: #fff;
  background-color: #45525B;
  font-weight: 700;
}
.header__link {
  min-width: 65px;
  display: block;
}
.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.125rem;
    display: block;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 0.125rem;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .header__navigation--open .icon-menu span {
    width: 0;
  }
  .header__navigation--open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .header__navigation--open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.footer {
  background-color: #fff;
}
@supports (padding-top: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem )) {
  .footer {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 44.375);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem )) {
  .footer {
    padding-bottom: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 1.3732394366rem  +  5.6338028169vw , 5rem )) {
  .footer {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 44.375);
  }
}
.footer__container {
  max-width: 75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.footer__create-by {
  text-align: center;
}
.footer__menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.footer__item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.35s ease;
  text-align: center;
}
.footer__item:hover, .footer__item:focus {
  color: #fff;
  background-color: #45525B;
}
.footer__link {
  min-width: 65px;
  display: block;
}

.welcome {
  background-color: #fff;
}
@supports (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .welcome {
    padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .welcome {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .welcome {
    padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .welcome {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
.welcome__container {
  max-width: 683px;
}
.welcome__logo {
  width: 94px;
  height: 48px;
}
.welcome__logo img {
  width: 100%;
  height: 100%;
}
.welcome__title {
  margin-top: 20px;
  font-size: 36px;
  line-height: 40px;
}
@media (max-width: 47.99875em) {
  .welcome__title {
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .welcome__title {
    font-size: 28px;
    line-height: 32px;
  }
}

@supports (padding-top: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem )) {
  .blog {
    padding-top: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem )) {
  .blog {
    padding-top: calc(2.5rem + 4.125 * (100vw - 20rem) / 44.375);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem )) {
  .blog {
    padding-bottom: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.6408450704rem  +  9.2957746479vw , 6.625rem )) {
  .blog {
    padding-bottom: calc(2.5rem + 4.125 * (100vw - 20rem) / 44.375);
  }
}
.blog__list {
  display: flex;
  gap: 16px;
}
.blog__list:nth-child(2n+1) {
  margin: 16px auto;
}
.blog__list--column {
  flex-direction: column;
}
@media (max-width: 43.75rem) {
  .blog__list {
    flex-wrap: wrap;
  }
  .blog__list--column {
    flex-direction: row;
  }
}
.blog__item {
  padding: 20px 20px 30px 20px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.35s ease;
  border: 1px solid #F8F8F8;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
}
.blog__item:hover, .blog__item:focus {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.blog__item--main-item {
  flex: 2;
}
.blog__item--main-item .blog__title {
  font-size: 25px;
  line-height: 34px;
}
@media (max-width: 43.75rem) {
  .blog__item {
    flex: 100%;
  }
}
.blog__image {
  position: relative;
}
.blog__image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.blog__tag {
  margin-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
}
.blog__title {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}
.blog__data {
  margin-top: 16px;
  font-size: 11px;
  line-height: 17px;
}

.newsletter {
  background-color: #fff;
}
@supports (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .newsletter {
    padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .newsletter {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .newsletter {
    padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .newsletter {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
.newsletter__container {
  min-height: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 29.99875em) {
  .newsletter__container {
    flex-direction: column;
  }
}
.newsletter__description {
  flex: 1;
}
.newsletter__title {
  font-size: 28px;
  line-height: 38px;
}
.newsletter__text {
  margin: 20px 0;
}
.newsletter__form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}
.newsletter__legend {
  margin-bottom: 10px;
}
.newsletter__label {
  width: 100%;
}
.newsletter__label input {
  box-sizing: border-box;
  width: 100%;
  min-height: 39px;
  padding: 10px 20px;
  color: #45525B;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  background: rgba(82, 80, 59, 0.02);
}
.newsletter__button {
  width: 167px;
  padding: 20px;
  transition: all 0.35s ease;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid currentColor;
  border-radius: 8px;
  background-color: #45525B;
  font-weight: 700;
}
.newsletter__button:hover, .newsletter__button:focus {
  letter-spacing: 2px;
  color: #45525B;
  background-color: #fff;
}

@supports (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .info {
    padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-top: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .info {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
@supports (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .info {
    padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem );
  }
}
@supports not (padding-bottom: clamp( 2.5rem , 0.8098591549rem  +  8.4507042254vw , 6.25rem )) {
  .info {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 44.375);
  }
}
.info__list {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}
.info__item {
  width: 100%;
  min-height: 140px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 37.4875rem) {
  .info__item {
    flex-direction: column;
  }
}
.info__image {
  box-sizing: border-box;
  width: 290px;
  overflow: hidden;
  border: 1px solid #F8F8F8;
  border-radius: 10px;
}
.info__image img {
  width: 100%;
  height: 100%;
  max-height: 180px;
  transition: all 0.35s ease;
  object-fit: cover;
}
.info__image img:hover, .info__image img:focus {
  transform: scale(1.2);
}
.info__description {
  flex: 2;
}
@media (max-width: 37.4875rem) {
  .info__description {
    flex: 1;
    text-align: center;
  }
}
.info__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.info__text {
  margin: 10px 0;
}
.info__data {
  margin-top: 16px;
  font-size: 11px;
  line-height: 17px;
}
.info__link {
  position: relative;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 8px;
  display: block;
  transition: all 0.35s ease;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.info__link::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s ease;
  background-color: #45525B;
}
.info__link:hover, .info__link:focus {
  color: rgba(69, 82, 91, 0.6);
}
.info__link:hover::before, .info__link:focus::before {
  width: 100%;
}
